<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
        <string>PokerPayoutsSwift/fontsList/main-bold.otf</string>
        <string>PokerPayoutsSwift/fontsList/main-semi.otf</string>
        <string>PokerPayoutsSwift/fontsList/main-thin.otf</string>
        <string>PokerPayoutsSwift/fontsList/main-medium.otf</string>
    </array>
</dict>
</plist>
